<template>
  <div id="app">
    <h1>todo list</h1>
    <TodoList class="qa-todo-list"/>
  </div>
</template>

<script>
import TodoList from './components/TodoList.vue'

export default {
  name: 'app',
  components: {
    TodoList
  }
}
</script>

<style lang="scss">
   @import 'scss/app.scss';
</style>
